.auth {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: white 1px solid;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  padding: 50px;
}
.auth h1 {
  color: white;
}
.auth p {
  color: whitesmoke;
}
.auth button {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 200px;
  height: 50px;
  border: none;
  background-color: #3b5998;
  color: white;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}
